.iconos{
    color: green;
    font-size: 40px;
}

.row{
    margin-bottom: 20px;
}

h4{
    transition: all 0.5s ease;
    color: black;
}

h4:hover{
    color: green;
}

h1{
    margin: 20px 0px 20px 0px;
}

a{
    text-decoration: none;
}