.trabajo {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

h1 {
    margin: 40px 0px 20px 0px;
    text-align: center;
    font-weight: bolder;
}

.col{
    background-color: #DFDFDF;
    border: 3px solid;
    border-color: #D8D8D8;
    border-radius: 10px;
    transition: 0.8s ease;
    margin: 30px 100px 30px 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.col:hover {
    border-color: green;
}

.col img{
    margin: 25px 20px 10px 20px;
    height: 60px;
    object-fit: contain;
    align-items: center;
}

.logotipos {
    height: 30px;
}