.trabajo {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#listatrabajo {
    padding: 10px;
    margin: 25px;
    background-color: #DFDFDF;
    border: 3px solid;
    border-color: #D8D8D8;
    border-radius: 20px;
    list-style: none;
    text-align: center;
    transition: ease-in 0.5s;
}

#listatrabajo:hover {
    border-color: rgba(0, 88, 0, 0.836);
}

h1 {
    padding: 40px 0px 20px 0px;
    text-align: center;
    font-weight: bolder;
}

ul {
    margin: 0;
    padding: 0;
}

.logotipos{
    height: 30px;
}