h1 {
    padding: 40px 0px 20px 0px;
    text-align: center;
    font-weight: bolder;
}

.col h4 {
    text-align: center;
}

.col p {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

.col {
    padding: 20px 20px 0px 20px;
    text-align: center;
}

.row {
    padding: 0px 0px 50px;
}

.container-fluid {
    padding: 0px 150px 0px 150px;
}

.col img {
    height: 40px;
    object-fit: contain;
}

.embed-responsive-item {
    object-fit: contain;
    height: 375px;
    width: 750px;
}

@media (max-width:770px){
    .col{
        padding: 20px 10px 0 10px;
    }
    
    .row{
        padding: 0;
    }

    .embed-responsive-item {
        padding-bottom: 20px;
    }

    .container-fluid{
        padding: 0 6rem 0 6rem;
    }
}