/*empieza footer*/

@import url(https://fonts.google.com/);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    width: 100%;
    text-align: justify;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#contacto {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #1d6f06;
    padding: 0.3rem;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease;
}

#contacto a{
    color: white;
    font-size: small;
}

#contacto:hover {
    transform: scale(1.05);
}

#contactanos {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    gap: 0.5rem;
    font-size: 1rem;
    letter-spacing: 3px;
    transition: all 0.5s ease;
}

#contactanos:hover {
    color: #1d6f06;
}

#telefono {
    color: #1d6f06;
    text-decoration: none;
    font-family: "roboto", "arial", sans-serif;
    font-weight: bold;
}

.pie-pagina {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.930);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.pie-pagina .grupo-1 .box figure img {
    width: 130px;
    margin: 10px 0 0 0;
}

.pie-pagina .grupo-1 .box h4 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: grey;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    font-size: large;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #1d6f06;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 100%;
}

.pie-pagina .grupo-1 .red-social a:hover {
    transform: scale(0.9);
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 35px 0px;
    }
}


/*termina footer*/


/*empiza scroll*/

.scroll-arrow {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0 15px 0 15px;
    border-radius: 8px;
    text-decoration: none;
    opacity: 0;
    transition: ease 0.6s;
    animation: aparecer 0.6s forwards;
}

.scroll-arrow.show {
    opacity: 1;
    display: block;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(100%);
    }
}


/*termina scroll*/