* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    block-size: border-box;
}

body {
    overflow-x: hidden;
}

p,
li {
    text-align: justify;
}


/*empieza video*/

.cargando-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black; /* Fondo en caso de que la imagen no cubra todo */
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
}

.mivideo video {
    position: absolute;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    top: 0;
    z-index: -1;
}


/*termina video*/


/*empieza equipamiento*/

.stat-bar {
    position: absolute;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgb(180, 180, 180);
    top: 58%;
    left: 5%;
}

.stat {
    text-align: center;
    padding-top: 20px;
    margin: 10px;
}

.stat-number {
    font-size: 40px;
    font-weight: bold;
    color: green;
}

.stat-bar h3 {
    font-size: 20px;
}

.stat img {
    display: block;
    margin: 0 auto;
    max-width: 70px;
    min-width: 70px;
    width: 70px;
    height: 70px;
    object-fit: contain;
}

@media (max-width:590px) {
    .stat-bar {
        display: inline;
    }
    section {
        position: relative;
        display: inline;
        margin-right: 100%;
        margin-bottom: 0;
        min-width: 407px;
    }
    .telefono {
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .telefono img {
        max-width: 10%;
        margin-right: 20px;
    }
    .telefono h2 {
        flex: 1;
        white-space: nowrap;
    }
    .stat-bar h1 {
        display: none;
    }
}


/*empieza equipamiento*/


/*empieza servicios-card*/

    .row {
        margin-top: 80vh;
    }

    .row h1 {
        text-align: center;
        position: relative;
        margin: 0 0 0px 0;
    }

    .row h4 {
        padding: 10px;
        padding-bottom: 0;
    }

    .card p {
        padding: 0px 0px 0px 10px;
        text-align: left;
    }

    div .card-body {
        padding: 0;
        margin: 0;
    }

    /* CAMBIOS PRINCIPALES */
    .row-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .first-row {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .second-row {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .col {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0px;
        padding: 0 !important;
    }

    .card {
        width: 270px;
        margin-bottom: 20px;
        height: 100%;
        max-height: 310px;
        min-height: 310px;
        margin-top: 65px;
        transition: ease 0.5s;
        box-shadow: 2px 2px 8px grey !important;
    }

    .card img {
        object-fit: cover;
        height: 150px;
        width: 270px;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 6px 6px 10px grey !important;
    }

    @media (max-width:590px) {
        .row {
            margin: 1300px 0 0 0;
        }
    }

    @media (max-width: 930px) {
        div .col {
            margin: 30px;
        }
        .div .row {
            z-index: 10;
            position: absolute;
        }
        .card {
            margin: 0px;
            padding-top: 0;
        }
        h1 {
            position: relative;
            display: block;
            text-align: center;
            padding-top: 0;
            margin: 25px 0px;
            margin-bottom: 0px;
            z-index: 10;
        }
    }

/*empieza servicios-card*/


/*empieza imagen camion*/

.camion img {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    object-fit: cover;
}


/*empieza imagen camion*/


/*empieza organizacion*/

.organizacion {
    width: 100%;
    height: auto;
}

.organizacion h1 {
    left: 0;
    text-align: left;
    padding-top: 40px;
    padding-left: 10px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: green;
}

.organizacion h3 {
    padding: 10px;
}

.organizacion p {
    justify-content: center;
    padding: 10px;
}


/*termina organizacion*/


/*empieza imagen camion nieve*/

.nieve img {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    object-fit: cover;
}


/*termina imagen camion nieve*/

#serif h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}


/*empieza politica*/

.tick {
    color: green;
    float: left;
    padding: 0 5px 0 0;
}

.politica {
    width: 100%;
    height: auto;
    font-family: sans-serif;
}

.politica h1 {
    left: 0;
    text-align: left;
    padding-top: 60px;
    padding-left: 10px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: green;
}

.politica h6 {
    padding: 30px;
    text-align: center;
}

.politica h4 {
    padding: 10px;
}

.politica p {
    justify-content: center;
    padding: 10px;
}

.politica ul {
    padding: 10px;
    list-style-type: none;
}

.politica li {
    padding: 10px;
    font-size: large;
}

.bi-check-lg {
    color: green;
    font-size: x-large;
}


/*termina politica*/


/*empieza clientes*/

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logos:hover {
    filter: grayscale(0%);
}

.logos {
    overflow: hidden;
    padding: 60px 0px;
    background: white;
    white-space: nowrap;
    position: relative;
    margin-top: 5%;
    filter: grayscale(100%);
    transition: all ease-in 0.5s;
}

.logos::after,
.logos::before {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos-slide {
    display: inline-block;
    animation: 80s slide linear infinite;
}

.logos-slide img {
    height: 80px;
    margin: 0px 40px;
}


/*termina clientes*/