*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    block-size: border-box;
}

nav{
    background-color: green;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a:hover{
    color: red;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

section{
    background: url();
    background-size: cover;
    background-position: center center;
    height: calc(70vh - 60px);
}

@media (max-width: 405px){
    nav{
        height: 120px;
    }
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1140px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 70%;
        height: 100vh;
        background: green;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;       
    }
}