<div class="container">
    <div class="compu">
    <div class="row">
        <div class="col-3" id="cuadro">
            <h1>Nuestros Clientes</h1>
            <p>En esta empresa sabemos que cada cliente con el que trabajamos es igual de importante, por eso estamos agradecidos con ellos por elegir trabajar con nosotros siempre intetnando hacerlo de la mejor manera.</p>
        </div>
        <div class="col">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/camuzzipampeana.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/camuzzisur.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/cañuelas.jpg" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/hidronqn.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/Logo_de_YPF.jpg" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/distrigas.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/peco.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/petrogas.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/total.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/ypfgas.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/Bodega-Salentein.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/ecofrut.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/expofrut.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/moñoazul.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/pai.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/patagonia norte.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/patagonianfruits.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes combustible liquido/nao.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes del exterior/abastible.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes del exterior/gasco.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes del exterior/gascorona.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes del exterior/lipigas.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes gas/Air-Liquide-logo.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes gas/vitalaire.png" alt="">
        </div>
    </div>
    </div>
    
    <div class="celu">
    <div class="row">
        <div class="col">
            <h1>Nuestros Clientes</h1>
            <p>En esta empresa sabemos que cada cliente con el que trabajamos es igual de importante, por eso estamos agradecidos con ellos por elegir trabajar con nosotros siempre intetnando hacerlo de la mejor manera.</p>
    
            <img src="/assets/images/logos patrocinadores/clientes nacionales/camuzzipampeana.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/camuzzisur.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/cañuelas.jpg" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/hidronqn.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/Logo_de_YPF.jpg" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/distrigas.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/peco.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/petrogas.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/total.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes nacionales/ypfgas.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/Bodega-Salentein.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/ecofrut.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/expofrut.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/moñoazul.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/pai.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/patagonia norte.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes cargas/patagonianfruits.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes combustible liquido/nao.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes del exterior/abastible.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes del exterior/gasco.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes del exterior/gascorona.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes del exterior/lipigas.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes gas/Air-Liquide-logo.png" alt="">
            <img src="/assets/images/logos patrocinadores/clientes gas/vitalaire.png" alt="">
        </div>
    </div>
    </div>
    <div>
        <p class="ellos">Ellos Confian En Nosotros</p>
    </div>
</div>