<div class="container-fluid" data-aos="zoom-in">
    <h1>Nuestros Servicios</h1>
    <div class="row align-items-center">
        <div class="col text-center">
            <img src="/assets/images/equipamiento/camion.png" alt="" class="mx-auto">
            <h4>GLP</h4>
            <p>Transporte, carga y distribución de gas Licuado de Petróleo Nacional e Internacional</p>
        </div>
        <div class="col text-center">
            <img src="/assets/images/equipamiento/metal-gas.png" alt="" class="mx-auto">
            <h4>Metal Gas</h4>
            <p>Fabricación, Inspección, reparación, mantenimiento y rehabilitación de recipientes de cargas peligrosas sometidos a presión, fijos y móviles.</p>
            <p>(Para ver nuestros trabajos de metal gas presione <a href="">aqui</a>)</p>
        </div>
        <div class="col text-center">
            <img src="/assets/images/equipamiento/camion-gas.png" alt="" class="mx-auto">
            <h4>Gas Comprimido Industrial y Medicinal</h4>
            <p>Transporte, carga y distribución de gas comprimido industrial y medicinal.</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col text-center">
            <img src="/assets/images/equipamiento/camion-frio.png" alt="" class="mx-auto">
            <h4>Cargas Refrigeradas</h4>
            <p>Transporte de cargas refrigeradas Nacional e Internacionalmente</p>
        </div>
        <div class="col text-center">
            <img src="/assets/images/equipamiento/camion-combustible.png" alt="" class="mx-auto">
            <h4>Combustibles Líquidos</h4>
            <p>Transporte, logística, distribución y carga de combustibles líquidos con tanques de 53 a 57 mts³.</p>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">

            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2atAFU9ndik?si=Jcg13wzo3D6IF6mh" title="YouTube video player" allowfullscreen></iframe>

        </div>
    </div>
</div>