h1{
    padding:120px 0px 20px 0px;
    text-align: center;
    font-weight: bolder;
}

h4{
    text-align: center;
}

p{
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

a{
    color: green;
}

.col{
    padding: 20px 0px 0px 0px;
}

.row{
    padding: 0px 0px 50px;
}

.container-fluid{
   padding: 0px 150px 0px 150px;
}

img{
    height: 40px;
    object-fit: contain;
}

.embed-responsive-item{
    object-fit: contain;
    height: 375px;
    width: 750px;
}