<div class="container" data-aos="zoom-in">

    <h1>Nuestros Recursos</h1>

    <div class="row">
        <div class="col">
            <img src="/assets/images/equipamiento/camion.png" alt="">
            <h2>65 Equipos propios</h2>
            <p>65 Equipos propios, marcas Scania Mercedes Benz, Iveco y 22 equipos subcontratados (Promedio de antigüedad de los modelos de nuestras flotas 3 años).</p>
        </div>

        <div class="col">
            <img src="/assets/images/equipamiento/terreno.png" alt="">
            <h2>45.000 metros cuadrados</h2>
            <p>Nuestra base operativa central cuenta con 45.000 mts. cuadrados para estacionamiento de unidades.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/images/equipamiento/industria.png" alt="">
            <h2>2700 metros cuadrados cubiertos</h2>
            <p>2700 Mts2 cubiertos de infraestructura edilicia y amplio espacio.</p>
        </div>
        <div class="col">
            <img src="/assets/images/equipamiento/taller.png" alt="">
            <h2>4 Talleres propios</h2>
            <p>Contamos con 4 talleres de distintas areas, un taller de repruebas, un taller mecanico, un taller de pintura y un taller de arenado</p>
        </div>
    </div>
</div>